/* Styles supplémentaires */
body {
    padding-top: 56px; /* Espacement pour la barre de navigation */
}
.hero {
    background-color: #b2b6b9;
    padding: 40px 0;
}
.recent-words {
    margin-top: 40px;
}
.recent-words .card {
    margin-bottom: 20px;
}
.definition-header {
    background-color: #b2b6b9;
    padding: 20px;
    border-bottom: 1px solid #b2b6b9;
}
.definition-content {
    padding: 20px;
}
.definition-title {
    font-size: 2rem;
    font-weight: bold;
}
.definition-text {
    font-size: 1.25rem;
}
.footer {
    background-color: #b2b6b9;
    padding: 20px;
    border-top: 1px solid #b2b6b9;
}